nav(class="navigation navigation--header") 
		//- a(href="/") 
		svg.navigation--header__link__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 941.98 218.4")
			path(fill="currentColor" d="m588.59,212.07h-47.65V84.05h-1.44c-2.15,9.15-5.38,18.28-10.39,29.54l-34.04,68.58h-44.8l-33.68-68.58c-4.65-10.56-8.23-20.4-10.4-29.54h-1.8v128.02h-45.51V3.16h50.52l50.89,104.79c4.65,10.2,10.03,23.21,12.54,31.3h1.8c2.51-8.1,7.89-21.1,12.54-31.3L538.06,3.16h50.52v208.91Zm249.86-151.22c0-13.02,11.82-19.69,34.05-19.69,16.69,0,40.65,4.57,52.12,11.61l8.68-41.51c-15.29-7.38-41.69-11.26-61.86-11.26-33.33,0-58.03,11.87-70.7,31.36-18.98-17.7-45-28.19-75.1-28.19-62.54,0-108.08,45.72-108.08,107.61s45.52,107.61,108.08,107.61c22.82,0,43.29-6.05,60.12-16.66v.04c14.59,7.74,45.71,13.46,71.08,13.46,54.9,0,85.14-25.67,85.14-66.12,0-73.85-103.55-55.21-103.55-88.28h.01Zm-112.79,115.71c-35.1,0-60.12-27.79-60.12-65.77s25.02-65.77,60.12-65.77,60.12,27.79,60.12,65.77-24.67,65.77-60.12,65.77Zm132.59-2.46c-13.22,0-27.47-2.35-39.71-5.95,8.26-13.89,13.42-30.08,14.79-47.81,28.66,11.42,61.4,13.82,61.4,33,0,14.07-11.47,20.75-36.49,20.75h.02ZM284.06,1.58v116.76c0,33.05-13.98,52.4-45.14,52.4s-45.51-19.34-45.51-52.4V1.58h-47.65v120.28c0,19.44,3.78,36.04,10.92,49.59H47.65V3.16H0v210.49h232.61v-.1c1.72.06-8.11.1,5.22.1,57.68,0,92.09-33.05,92.09-91.79V1.58h-45.87.01Z")
		ul.navigation--header__list(class="grid")
			each entry in navigation.data.list
				li.navigation--header__list__item(class=`navigation--header__list__item--${entry.text.toLowerCase()}`)
					a.navigation--header__list__link(href=Link(entry.link))=entry.text
			
			
