.navigation {
	position: relative;

	&--footer {
		padding: 0 var(--layout-spacing);
		z-index: z("navigation");

		display: flex;
		flex-direction: column;
		gap: 3.4rem;

		nav {
			margin-bottom: 2.5rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.group {
				display: flex;
				flex-direction: column;

				&--desktop {
					@include media("<=tablet") {
						display: none;
					}
				}

				&--tablet {
					display: none;

					@include media("<=tablet") {
						display: flex;
						gap: 0;
						justify-content: center;
					}
				}

				p,
				a,
				span {
					@extend %description-20;
					font-weight: 500;
					text-transform: uppercase;

					@include media("<=tablet") {
						font-size: 1.2rem;
					}
				}

				.merged:first-of-type {
					letter-spacing: -3px;
				}

				a:hover {
					text-decoration: underline;
				}

				.set {
					display: flex;
				}

				.set a:first-of-type::after {
					content: ",";
					margin-right: 0.5rem;
				}
			}
		}
	}
}
