.navigation {
	--theme-color: #363636;
	position: relative;

	&--404 {
		--theme-color: #eceae5;
		color: $color-cararra;
	}

	&--header {
		padding: var(--layout-spacing);
		padding-top: 2.3rem;
		z-index: z("navigation");

		@include media("<=tablet") {
			padding-top: 1.9rem;
		}

		@include media("<=phone") {
			padding-top: 1.8rem;
			// NOTE: Used old value here
			// padding-top: 3.3rem;
		}

		.nav {
			&--expanded {
				margin-bottom: 5.8rem;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				@include media("<=tablet") {
					margin-bottom: 3.4rem;
				}

				@include media("<=phone") {
					display: none;
				}

				.tagline {
					@extend %description-23;
					font-weight: 500;

					@include media("<=tablet") {
						font-size: 1.4rem;
					}
				}

				.group {
					display: flex;
					flex-direction: row;
					align-items: center;

					.navigation-links {
						margin-right: 13.5rem;
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 0.5rem;

						@include media("<=tablet") {
							margin-right: 6.5rem;

							&--fr-ca {
								margin-right: 3.4rem;
							}
						}

						.navigation-link {
							display: flex;
							align-items: center;

							&__link {
								@extend %description-23;
								font-weight: 500;

								@include media("<=tablet") {
									font-size: 1.4rem;
								}
							}
						}

						.navigation-link:hover {
							text-decoration: underline;
						}

						.navigation-link::after {
							position: relative;
							bottom: 0;
							content: ",";
							font-size: inherit;
							font-weight: 500;

							@include media("<=tablet") {
								bottom: 0.5rem;
							}
						}

						.navigation-link:last-of-type::after {
							content: "";
						}
					}

					.language-toggle {
						display: flex;
						align-items: center;
						margin-right: 24.8rem;
						display: flex;
						gap: 0.5rem;

						&--tablet {
							display: none;

							@include media("<=tablet") {
								display: flex;
								align-self: center;
								margin-right: 11.3rem;

								&--fr-ca {
									margin-right: 10.9rem;
								}
							}
						}

						@include media("<=tablet") {
							display: none;
						}

						&__link {
							@extend %description-23;
							font-weight: 500;

							@include media("<=tablet") {
								font-size: 1.4rem;
							}
						}

						a:hover {
							text-decoration: underline;
						}

						a::after {
							content: ",";
							font-size: inherit;
							font-weight: 500;
						}

						a:last-of-type::after {
							content: "";
						}
					}

					.time-data {
						@extend %description-23;
						font-weight: 500;
						align-self: center;

						display: flex;
						align-items: center;

						@include media("<=tablet") {
							font-size: 1.4rem;
						}
					}
				}
			}

			&--collapsed {
				display: none;

				@include media("<=phone") {
					display: flex;
					justify-content: flex-end;
					margin-bottom: 2.2rem;
					padding: 0.3rem 0;
				}

				.nav-toggle {
					display: flex;
					flex-direction: column;
					gap: 0.2rem;

					span {
						width: 2.3rem;
						height: 0.2rem;
						background-color: var(--theme-color);
					}
				}
			}
		}
	}
}

.no-logo {
	.logo {
		display: none;
	}
}
