.navigation {
	--theme-color: #363636;

	&--404 {
		--theme-color: #eceae5;
		color: $color-cararra;
	}

	&--header {
		padding: 0 var(--layout-spacing);

		.nav {
			padding: var(--layout-spacing);
			z-index: z("navigation");

			position: fixed;
			top: 0;
			left: 0;
			width: 100%;

			&--expanded {
				display: flex;
				flex-direction: row;
				align-items: center;

				@include media("<=phone") {
					display: none;
				}

				.tagline {
					@extend %description-23;
					font-weight: 500;

					@include media("<=tablet") {
						font-size: 1.4rem;
					}
				}

				.navigation-links {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 103.7rem;

					@-moz-document url-prefix() {
						left: 104rem;
					}

					&--fr-ca {
						left: 103.8rem;

						@-moz-document url-prefix() {
							left: 104.2rem;
						}
					}

					@include media("<=tablet") {
						left: 31rem;
					}

					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 1rem;

					.navigation-link {
						display: flex;
						align-items: center;

						&__link {
							@extend %description-23;
							font-weight: 500;

							@include media("<=tablet") {
								font-size: 1.4rem;
							}
						}
					}

					.navigation-link::after {
						position: relative;
						bottom: 0;
						content: ",";
						font-size: inherit;
						font-weight: 500;

						@include media("<=tablet") {
							bottom: 0.5rem;
						}
					}

					.navigation-link:last-of-type::after {
						content: "";
					}
				}

				.language-toggle {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 139.3rem;

					display: flex;
					align-items: center;
					gap: 0.5rem;

					&--fr-ca {
						@-moz-document url-prefix() {
							left: 139.7rem;
						}
					}

					&--tablet {
						display: none;

						@include media("<=tablet") {
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							display: flex;
							left: 51rem;
						}
					}

					@include media("<=tablet") {
						display: none;
					}

					&__link {
						@extend %description-23;
						font-weight: 500;

						@include media("<=tablet") {
							font-size: 1.4rem;
						}
					}

					a::after {
						content: ",";
						font-size: inherit;
						font-weight: 500;
					}

					a:last-of-type::after {
						content: "";
					}
				}

				.time-data {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 170.6rem;

					&--fr-ca {
						left: 103.8rem;
					}

					@extend %description-23;
					font-weight: 500;
					align-self: center;

					display: flex;
					align-items: center;

					@include media("<=tablet") {
						font-size: 1.4rem;
						left: 63.6rem;
					}
				}
			}

			&--collapsed {
				display: none;

				@include media("<=phone") {
					display: flex;
					justify-content: flex-end;
					padding: 1.9rem var(--layout-spacing);
				}

				.nav-toggle {
					position: relative;
					display: flex;
					width: 3.4rem;
					flex-direction: column;
					align-items: flex-end;
					gap: 0.3rem;
					z-index: 10;

					transform-origin: calc(100% - 0.7rem) 50%;

					span {
						position: relative;
						display: block;
						width: 3.4rem;
						height: 2px;
						background-color: var(--theme-color);
					}
				}

				.menu {
					position: fixed;
					top: 0;
					left: 0;
					width: 100vw;
					height: 100dvh;
					visibility: hidden;
					transform: scaleY(0);
					transform-origin: top;
					background-color: $color-black;
					z-index: 5;
					color: $color-cararra;

					.navigation-links {
						position: absolute;
						bottom: 23rem;
						left: var(--layout-spacing);

						display: flex;
						flex-direction: column;
						gap: 1rem;
					}

					.navigation-link {
						display: flex;
						align-items: center;

						&__link {
							font-size: 3.2rem;
						}
					}

					.language-toggle {
						position: absolute;
						bottom: 2.8rem;
						left: var(--layout-spacing);

						a {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
	}
}

.no-logo {
	.logo {
		display: none;
		visibility: hidden;
	}
}

@keyframes slide {
	from {
		opacity: 0;
		transform: translateX(-5rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
