.navigation {
	position: relative;

	&--header {
		padding: $layout-spacing;
		z-index: z("navigation");

		nav {
			margin-bottom: 5.8rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.group {
				display: flex;
				flex-direction: row;

				.navigation-links {
					margin-right: 14.1rem;
					display: flex;
					flex-direction: row;
					gap: 0.5rem;

					.navigation-link {
						// font-weight: 400;
					}

					.navigation-link:hover {
						text-decoration: underline;
					}

					.navigation-link::after {
						content: ",";
					}

					.navigation-link:last-of-type::after {
						content: "";
					}
				}

				.language-toggle {
					margin-right: 24.1rem;
					display: flex;
					gap: 0.5rem;

					a:hover {
						text-decoration: underline;
					}

					a::after {
						content: ",";
					}

					a:last-of-type::after {
						content: "";
					}
				}
			}
		}

		.logo {
		}

		.logo .logo__image {
		}
	}

	&--footer {
		padding: 0 $layout-spacing;
		z-index: z("navigation");

		display: flex;
		flex-direction: column;
		gap: 3.4rem;

		nav {
			margin-bottom: 2.5rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.group {
				display: flex;
				flex-direction: column;

				.merged {
					letter-spacing: -13;
				}

				a:hover {
					text-decoration: underline;
				}

				.set a:first-of-type::after {
					content: ",";
					margin-right: 0.5rem;
				}
			}
		}
	}
}
