section.not-found {
	@extend %cover;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 7.6rem var(--layout-spacing);
	padding-bottom: 7.3rem;

	@include media("<=tablet") {
		padding: 5.4rem var(--layout-spacing);
	}

	@include media("<=phone") {
		padding-bottom: 7.4rem;
	}

	.fill {
		flex: 1;
	}

	.content {
		display: flex;
		flex: 1;
		flex-direction: column;

		.header {
			@extend %description-20;
			font-weight: 500;
			text-transform: uppercase;
			margin-bottom: 0.8rem;

			@include media("<=tablet") {
				font-size: 1rem;
			}

			@include media("<=phone") {
				font-size: 0.9rem;
			}
		}

		.tagline {
			@extend %description-110;
			font-weight: 500;
			margin-bottom: 4.5rem;
			line-height: 0.9;

			@include media("<=tablet") {
				font-size: 7rem;
				margin-bottom: 2.5rem;
			}

			@include media("<=phone") {
				font-size: 5rem;
				margin-bottom: 2.2rem;
			}
		}

		.description {
			@extend %description-23;
			font-weight: 500;

			@include media("<=tablet") {
				font-size: 1.6rem;
			}

			@include media("<=phone") {
				font-size: 1.2rem;
				// SUGGESTED: 1.4rem
			}
		}
	}

	.back {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-self: flex-start;
		font-weight: 500;
		@extend %description-25;

		@include media("<=tablet") {
			font-size: 1.6rem;
		}

		@include media("<=phone") {
			text-decoration: underline;
			font-size: 1.4rem;
			// SUGGESTED: 1.6rem
		}
	}
}
