.press-release {
	padding: 0 var(--layout-spacing);
	padding-top: 19rem;
	margin-bottom: 5.9rem;
	opacity: 0;

	@include media("<=tablet") {
		padding-top: 12.1rem;
		margin-bottom: 6.1rem;
	}

	@include media("<=phone") {
		padding: 0;
		padding-top: 6rem;
		margin-bottom: 7rem;
	}

	&__content {
		&__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 4.3rem;

			@include media("<=tablet") {
				margin-bottom: 2.6rem;
			}

			@include media("<=phone") {
				flex-direction: column-reverse;
				justify-content: initial;
				gap: 1.8rem;
				margin-bottom: 18.6rem;
			}

			&__text-content {
				display: flex;
				flex-direction: column;
				height: 87.4rem;
				width: 84.1rem;
				gap: 63.4rem;

				&--fr-ca {
					gap: 56.2rem;

					@include media("<=tablet") {
						gap: 30rem;
					}

					@include media("<=phone") {
						gap: 10.5rem;
					}
				}

				@include media("<=tablet") {
					gap: 34.9rem;
					height: 47.2rem;
					width: 29.6rem;
				}

				@include media("<=phone") {
					padding: 0 var(--layout-spacing);
					gap: 10.7rem;
					height: 24.1rem;
					width: 100%;
				}

				.group {
					display: flex;
					flex-direction: column;
					gap: 4rem;
					position: relative;
					top: -1.4rem;

					@include media("<=tablet") {
						gap: 2.3rem;
						top: -0.6rem;
					}

					@include media("<=phone") {
						gap: 3.6rem;
						top: 0;
						width: 28.5rem;
					}

					&:first-of-type {
						gap: 0.2rem;

						@include media("<=tablet") {
							gap: 0;
						}

						@include media("<=phone") {
							width: 100%;
						}
					}
				}

				.title {
					@extend %description-68;
					font-weight: 500;
					text-transform: uppercase;

					@include media("<=tablet") {
						font-size: 2.7rem;
					}

					@include media("<=phone") {
						font-size: 3rem;
					}

					&--fr-ca {
						font-size: 6.3rem;
						margin-bottom: 2.2rem;

						span:last-of-type {
							display: inline;
							margin-left: 1.5rem;

							@include media("<=tablet") {
								margin-left: 0;
								display: block;
							}

							@include media("<=phone") {
								margin-left: 0.4rem;
								display: inline-block;
							}
						}

						@include media("<=tablet") {
							font-size: 3.5rem;
							margin-bottom: 0.8rem;
						}

						@include media("<=phone") {
							font-size: 2.1rem;
							margin-bottom: 0.6rem;
						}
					}
				}

				.label {
					@extend %description-20;
					font-weight: 500;
					text-transform: uppercase;

					@include media("<=tablet") {
						font-size: 1rem;
					}

					@include media("<=phone") {
						font-size: 1rem;
					}
				}

				.summary {
					@extend %description-23;
					font-weight: 500;

					span {
						display: block;
					}

					&--desktop {
						@include media("<=tablet") {
							display: none;
						}
					}

					&--tablet {
						display: none;

						@include media("<=tablet", ">phone") {
							display: block;
						}
					}

					&--phone {
						display: none;

						@include media("<=phone") {
							display: block;
						}
					}

					@include media("<=tablet") {
						font-size: 1.2rem;
					}

					@include media("<=phone") {
						font-size: 1.1rem;
					}
				}

				a {
					@extend %description-27;
					font-weight: 500;
					align-self: flex-start;

					@include media("<=tablet") {
						font-size: 1.6rem;
					}

					@include media("<=phone") {
						font-size: 1.4rem;
					}
				}
			}

			&__featured-image {
				--width: 85rem;
				height: 107.3rem;
				position: relative;
				width: var(--width);
				height: var(--height);

				&--fr-ca {
					--width: 85.3rem;
					--height: 98.57rem;
				}

				@include media("<=tablet") {
					width: 39.6rem;
					height: 53rem;
				}

				@include media("<=phone") {
					width: 100%;
					aspect-ratio: 17/20;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&__body {
			position: relative;
			display: flex;
			flex-direction: column;

			@include media("<=phone") {
				padding: 0 var(--layout-spacing);
				padding-bottom: 2.5rem;
			}

			.cta-more {
				@extend %description-27;
				font-weight: 500;
				position: absolute;
				bottom: 0;
				left: 0;

				@include media("<=tablet") {
					font-size: 1.6rem;
				}

				@include media("<=phone") {
					left: var(--layout-spacing);
					font-size: 1.4rem;
				}
			}

			.text-block {
				align-self: flex-end;
				position: relative;
				line-height: 1.2;

				&--1 {
					margin-bottom: 12.3rem;

					@include media("<=tablet") {
						margin-bottom: 8.4rem;
					}

					@include media("<=phone") {
						margin-bottom: 6.4rem;
					}
				}

				--width: 85rem;
				width: var(--width);

				&--fr-ca {
					--width: 85.3rem;
				}

				@include media("<=tablet") {
					width: 39.6rem;
				}

				@include media("<=phone") {
					width: 100%;
				}

				.title {
					position: absolute;
					top: 0;
					left: 0;
					font-weight: 500;
					text-transform: uppercase;
					@extend %description-20;
					line-height: 1;

					@include media("<=tablet") {
						// NOTE: FOR POLLY - HAD TO DROP THIS A POINT SIZE TO MAKE IT FIT
						font-size: 1.1rem;
					}

					@include media("<=phone") {
						position: relative;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						margin-bottom: 6.7rem;
						font-size: 1.1rem;
					}

					span {
						display: block;
					}
				}

				.text {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					gap: 1.7rem;

					@extend %description-20;

					@include media("<=tablet") {
						font-size: 1.4rem;
						gap: 1.4rem;
					}

					@include media("<=phone") {
						font-size: 1.2rem;
						gap: 1.6rem;
					}

					p {
						font-weight: 500;
						text-indent: 26.2rem;

						&:first-of-type {
							text-indent: 20.3rem;
							width: 57.2rem;
						}

						@include media("<=tablet") {
							text-indent: 15.1rem;
							&:first-of-type {
								width: 24.4rem;
								text-indent: 11.6rem;
							}
						}

						@include media("<=phone") {
							text-indent: 0;
							&:first-of-type {
								width: 100%;
								text-indent: 0;
							}
						}
					}

					&--fr-ca {
						p {
							text-indent: 31.4rem;

							&:first-of-type {
								width: 57.2rem;
							}

							@include media("<=tablet") {
								text-indent: 15.1rem;
								&:first-of-type {
									width: 24.4rem;
									text-indent: 11.6rem;
								}
							}

							@include media("<=phone") {
								text-indent: 0;
								&:first-of-type {
									width: 100%;
									text-indent: 0;
								}
							}
						}
					}

					&--desktop {
						@include media("<=tablet") {
							display: none;
						}
					}

					&--tablet {
						display: none;

						@include media("<=tablet", ">phone") {
							display: flex;
						}
					}

					&--phone {
						display: none;

						@include media("<=phone") {
							display: flex;
							margin-bottom: 0.8rem;
						}
					}
				}
			}

			.image-grid {
				--w1: 99.3rem;
				--w2: 85rem;
				--w3: 52.8rem;
				--h1: 51.8rem;
				--h2: 85.4rem;
				--h3: 65.3rem;
				--s: 1.7rem;
				position: relative;
				height: 152.4rem;
				margin-bottom: 4.2rem;

				&--fr-ca {
					--w1: 98.7rem;
					--w2: 85.3rem;
				}

				@include media("<=tablet") {
					height: 70.5rem;
					--w1: 32.6rem;
					--w2: 39.6rem;
					--w3: 24.6rem;
					--h1: 17rem;
					--h2: 39.6rem;
					--h3: 30.3rem;
					--s: 0.6rem;
					margin-bottom: 6.1rem;
				}

				@include media("<=phone") {
					height: 29.8rem;
					--w1: 12.2rem;
					--w2: 28.4rem;
					--w3: 41rem;
					--h1: 9.6rem;
					--h2: 29.8rem;
					--h3: 47.5rem;
					--s: 0.4rem;
					margin-bottom: 7rem;
				}

				.cta-link {
					position: absolute;
					top: calc(var(--h1) + var(--s));
					left: 0;
					font-weight: 500;
					@extend %description-27;

					@include media("<=tablet") {
						font-size: 1.6rem;
					}

					@include media("<=phone") {
						display: none;
						visibility: hidden;
					}
				}

				&__item {
					position: absolute;
					object-fit: cover;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					&--phone {
						display: none;

						@include media("<=phone") {
							display: block;
							width: 100%;
							aspect-ratio: 86/100;
							margin-top: 5.9rem;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}

					&--1 {
						width: var(--w1);
						height: var(--h1);
						top: 0;
						left: 0;
					}

					&--2 {
						width: var(--w2);
						height: var(--h2);
						top: 0;
						right: 0;
					}

					&--3 {
						width: var(--w3);
						height: var(--h3);
						top: calc(var(--h2) + var(--s));
						right: 32.3rem;

						@include media("<=tablet") {
							right: 15rem;
						}

						@include media("<=phone") {
							visibility: hidden;
							display: none;
						}
					}
				}
			}
		}
	}
}
