.product {
	@extend %cover;
	@extend %center;

	@include media("<phone") {
		height: auto;
	}

	&__button {
		position: absolute;
		left: 50%;
		bottom: calc(#{$layout-spacing} * 2);
		transform: translateX(-50%);
		z-index: 1;

		width: 14rem;
		height: 7rem;

		text-transform: uppercase;

		display: flex;
		align-items: center;
		justify-content: center;

		&__icon {
			@extend %cover;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		color: $color-white;

		@include media("<phone") {
			max-width: 100%;
			display: block;
		}

		.product__media {
			position: relative;
			height: 65rem;
			aspect-ratio: 3/4;

			@include media("<phone") {
				width: calc(100vw - (#{$layout-spacing} * 2));
				height: initial;
				aspect-ratio: 3/4;
				margin: 0 auto;
				margin-bottom: 3rem;
			}

			&__image {
				@extend %cover;
				object-fit: cover;
			}
		}

		.product__information {
			padding-left: 8rem;
			width: calc(100vw - (#{$layout-spacing} * 2));

			@include media("<phone") {
				padding-left: 0;
			}

			&__collection {
				@extend %description-18;
				// margin-bottom: -2rem;
				text-transform: uppercase;
			}

			&__title {
				@extend %title-100;
				max-width: 60rem;
			}

			&__content {
				padding-left: 18rem;

				@include media("<phone") {
					padding-left: 0;
				}

				.product__information__highlights {
					margin-top: 5rem;
				}

				.product__information__highlight {
					display: flex;
					align-items: center;

					// TODO:FIGURE OUT SUPPORT
					&:not(:first-child) {
						margin-top: 2rem;
					}

					&__icon {
						border: 1px solid $color-white;
						height: 4rem;
						width: 4rem;
						border-radius: 50%;
						margin-right: 3rem;
					}

					&__text {
						@extend %description-20;
					}
				}
			}

			&__list {
				margin-top: 4rem;

				.product__information__item {
					display: flex;

					// TODO:FIGURE OUT SUPPORT
					&:not(:first-child) {
						margin-top: 4rem;
					}

					&__label {
						@extend %description-16;
						width: 7rem;
						text-transform: uppercase;

						@include media("<phone") {
							margin-right: 2rem;
						}
					}

					&__description {
						@extend %description-20;
						max-width: 44rem;
					}
				}
			}

			&__link {
				display: inline-block;
				@extend %title-30;
				margin-top: 3rem;
			}
		}
	}
}
