%description-16 {
	font-size: 1.6rem;
}

%description-18 {
	font-size: 1.8rem;
}

%description-20 {
	font-size: 2rem;
}

%description-22 {
	font-size: 2.2rem;
}

%description-28 {
	font-size: 2.8rem;
}

%description-36 {
	font-size: 3.6rem;
}
