%description-14 {
	font-size: 1.4rem;
}

%description-20 {
	font-size: 2rem;
}

%description-23 {
	font-size: 2.3rem;
}

%description-25 {
	font-size: 2.5rem;
}

%description-27 {
	font-size: 2.7rem;
}

// copout :(
%description-68 {
	font-size: 6.7rem;
}

%description-70 {
	font-size: 7rem;
}

%description-75 {
	font-size: 7.5rem;
}

%description-110 {
	font-size: 11rem;
}
