.preloader {
	@extend %cover;
	@extend %center;

	position: fixed;

	color: $color-white;
	background-color: $color-cararra;
	z-index: z("preloader");

	p {
		overflow: hidden;
		text-align: center;
		color: $color-black;
		@extend %description-27;

		@include media("<=tablet") {
			font-size: 1.6rem;
		}

		@include media("<=phone") {
			font-size: 1.4rem;
		}
	}

	&__progress {
		display: inline-block;
	}
}
