.preloader {
	@extend %cover;
	@extend %center;

	display: none;

	color: $color-white;
	background-color: $color-westar;
	z-index: z("preloader");

	&__progress {
		text-align: center;
		color: $color-black;
		@extend %description-27;

		@include media("<=tablet") {
			font-size: 1.6rem;
		}

		@include media("<=phone") {
			font-size: 1.4rem;
		}
	}
}
