*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	// NOTE: Pixel perfect designs - 100vw / width of the design in pixels * 10
	scroll-behavior: smooth;
	font-size: calc((100vw / 1920) * 10);

	@include media("<=tablet") {
		font-size: calc((100vw / 768) * 10);
	}

	@include media("<=phone") {
		font-size: calc((100vw / 430) * 10);
	}
}

body {
	@extend %description-23;
	font-family: "PP Neue Montreal", sans-serif;
	font-weight: 500;
	overscroll-behavior-y: none;
	overflow-x: hidden;
	background-color: $color-cararra;
	color: $color-black;
	line-height: 1.1;

	::-webkit-scrollbar {
		display: none;
	}
}

@supports (-webkit-font-smoothing: antialiased) or
	(-moz-osx-font-smoothing: grayscale) {
	body {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

img {
	max-width: 100%;
	vertical-align: middle;
	object-fit: cover;
}

button {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: none;
}

a {
	outline: none;
	text-decoration: none;
	color: inherit;
}

.only-desktop {
	display: none;

	@include media(">tablet") {
		display: block;
	}
}

.only-tablet {
	display: none;

	@include media("<=tablet") {
		display: block;
	}
}

.only-phone {
	display: none;

	@include media("<=phone") {
		display: block;
	}
}

p::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
label::selection,
img::selection {
	color: #eceae4;
	background: #bebebe;
}
