@font-face {
	font-family: $font-neue-montreal;
	src: url("../fonts/pp-neue-montreal-medium.eot");
	src: url("../fonts/pp-neue-montreal-medium.woff2") format("woff2"),
		url("../fonts/pp-neue-montreal-medium.woff") format("woff"),
		url("../fonts/pp-neue-montreal-medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
