$color-white: #fff;
$color-black: #363636;
$color-silver: #b7b7b7;
$color-cararra: #eceae5;
$clr-text-primary: #fff;

$font-general-sans: "General Sans";
$font-boska: "Boska";
$font-primary: "Roboto", sans-serif;

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$layout-spacing: 2.8rem;
$section-spacing: 45rem;

$z-indexes: ("preloader", "navigation", "content");
