:root {
	--layout-spacing: 3rem;
	--header-pt: 2.3rem;
}

@include media("<=tablet") {
	:root {
		--layout-spacing: 2rem;
		--header-pt: 1.9rem;
	}
}

@include media("<=phone") {
	:root {
		--layout-spacing: 1rem;
		--header-pt: 1.8rem;
	}
}

$color-white: #fff;
$color-black: #363636;
$color-cararra: #eceae5;
$color-westar: #e3e1dd;
$clr-text-primary: #fff;

$font-neue-montreal: "PP Neue Montreal";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$section-spacing: 45rem;

$z-indexes: ("preloader", "navigation", "content");
