extends ../base.pug 

block variables
	- var template = '404'

block content
	section.not-found
		.fill
		.content
			h1.header=document.data.title
			p.tagline!=document.data.tagline.replace(/\n/g, '<br>')
			p.description!=document.data.description.replace(/\n/g, '<br>')
		a.back(href=Link(document))=document.data.cta_label