extends ../base.pug 

block variables
	- var template = 'product'

block content
	.product
		button.product__toggle CLOSE
		.product__info
			.product__title LINOS
			//- .product__descrition!=product.description.replace(/\n/g, '<br>')
			ul.product__highlights
				li.product__highlight
					span.product__highlight-title Material:
					span.product__highlight-value 100% cotton
			a.product__cta Add to Cart
		.product__images
