section.article-cta {
	padding: 0 $layout-spacing;
	margin-bottom: 5.9rem;
}

.article-cta__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.article-cta__wrapper .cta-content {
	display: flex;
	flex-direction: row;
	gap: 1.7rem;
}

.article-cta__wrapper .cta-content__text {
	height: 29.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.article-cta__wrapper .cta-content__text a {
	position: relative;
	display: inline-block;
	text-decoration: underline;
	top: 0.25rem;
}

.article-cta__wrapper .cta-content__image {
	width: 46.4rem;
	height: 29.7rem;
}

.article-cta__wrapper .article .article__image-wrapper {
}
.article-cta__wrapper .article .article__image-wrapper .article__primary-image {
	width: 85rem;
	height: 97.8rem;
	background-color: #d9d9d9;
}

.article-cta__wrapper .article .article__wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
}
