section.collections {
	position: relative;
	padding: 50.2rem 0 57.8rem 0;

	@include media("<=tablet") {
		padding: 19.7rem 0 34.9rem 0;
	}

	@include media("<=phone") {
		padding: 19rem 0 32.8rem 0;
	}

	.collections__wrapper {
		position: relative;

		.collections__item {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			font-weight: 500;
			text-transform: uppercase;

			&--1 {
				font-size: 2.5rem;
				left: var(--layout-spacing);

				&--fr-ca {
					font-size: 2.5rem;
				}

				@include media("<=tablet") {
					font-size: 1.6rem;
					&--fr-ca {
						font-size: 1.4rem;
					}
				}

				@include media("<=phone") {
					font-size: 1.1rem;
					&--fr-ca {
						font-size: 0.9rem;
					}
				}
			}

			&--2 {
				left: 103.7rem;
				font-size: 2rem;

				@-moz-document url-prefix() {
					left: 104rem;
				}

				&--fr-ca {
					left: 103.8rem;
					font-size: 2rem;

					@-moz-document url-prefix() {
						left: 104.2rem;
					}
				}

				@include media("<=tablet") {
					left: 31.1rem;
					font-size: 1.2rem;

					@-moz-document url-prefix() {
						left: 31.1rem;
					}

					&--fr-ca {
						left: 31rem;
						font-size: 1.4rem;

						@-moz-document url-prefix() {
							left: 31rem;
						}
					}
				}

				@include media("<=phone") {
					left: 15rem;
					font-size: 1.1rem;

					@-moz-document url-prefix() {
						left: 15rem;
					}

					&--fr-ca {
						left: 15rem;
						font-size: 0.9rem;

						@-moz-document url-prefix() {
							left: 15rem;
						}
					}
				}
			}

			&--3 {
				left: 139.3rem;
				font-size: 2rem;

				&--fr-ca {
					font-size: 2rem;
					@-moz-document url-prefix() {
						left: 139.7rem;
					}
				}

				@include media("<=tablet") {
					font-size: 1.2rem;
					left: 48.8rem;

					@-moz-document url-prefix() {
						left: 48.8rem;
					}

					&--fr-ca {
						font-size: 1.4rem;
						left: 48rem;

						@-moz-document url-prefix() {
							left: 48rem;
						}
					}
				}

				@include media("<=phone") {
					left: 24.6rem;
					font-size: 1.1rem;

					@-moz-document url-prefix() {
						left: 24.6rem;
					}

					&--fr-ca {
						left: 24.6rem;
						font-size: 0.9rem;

						@-moz-document url-prefix() {
							left: 24.6rem;
						}
					}
				}
			}

			&--4 {
				right: var(--layout-spacing);
				font-size: 2rem;

				&--fr-ca {
					font-size: 2rem;
				}

				@include media("<=tablet") {
					font-size: 1.2rem;

					&--fr-ca {
						font-size: 1.4rem;
					}
				}

				@include media("<=phone") {
					font-size: 1.1rem;

					&--fr-ca {
						font-size: 0.9rem;
					}
				}
			}
		}
	}
}

section.collections--fr-ca {
	.collections__wrapper {
		@include media("<=tablet") {
			gap: 5.7rem;
		}

		@include media("<=phone") {
			gap: 3rem;
		}
	}
}
