.home__content {
	position: relative;
	margin: $section-spacing auto;

	&:first-child {
		// margin-top: 0;
	}

	&:last-child {
		// margin-bottom: 0;
	}
}

.home__content__image__label {
	@extend %description-28;
}

.home__content__media__wrapper {
	position: relative;
	grid-area: media;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.home__content__media {
	position: relative;
	aspect-ratio: 3/ 4;

	.home__content__media__image {
		@extend %cover;
		object-fit: cover;
	}
}

.home__content__description {
	grid-area: description;
	@extend %description-28;
	width: 63rem;

	p + p {
		margin-top: 2.5rem;
	}
}

.home__content__wrapper {
	position: relative;
}

.home__content__wrapper--align-left {
	grid-template-areas: ". description description description description . media media media media media .";
}

.home__content__wrapper--align-right {
	grid-template-areas: ". media media media media media . description description description description .";
}

.home__content__wrapper--align-bottom {
	grid-template-areas:
		". media media media media media media media media media media ."
		". description description description description description description description description . . .";

	.home__content__media:nth-of-type(2),
	.home__content__image__label {
		display: none;
	}

	.home__content__description {
		grid-area: description;
		width: 121rem;
	}

	.home__content__media__wrapper {
		grid-area: media;
		width: 100%;
	}

	.home__content__media {
		aspect-ratio: 16/9;
	}
}
