.featured-products {
	position: relative;
	margin-bottom: 46.7rem;
	overflow: hidden;

	@include media("<=tablet") {
		margin-bottom: 20.1rem;
	}

	@include media("<=phone") {
		margin-bottom: 19.2rem;
	}
}

.featured-products__wrapper {
	display: flex;
	flex-direction: row;
	gap: 1.7rem;

	@include media("<=tablet") {
		gap: 0.6rem;
	}

	@include media("<=phone") {
		gap: 0.4rem;
	}
}

.featured-product {
	display: block;
	position: relative;

	width: 49.1rem;
	height: 30.7rem;

	picture {
		width: 100%;
		height: 100%;
	}

	@include media("<=tablet") {
		width: 23.7rem;
		height: 14.81rem;
	}

	@include media("<=phone") {
		width: 15rem;
		height: 9.37rem;
	}
}

.featured-products__wrapper .featured-product img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.featured-products__wrapper .featured-product__link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
