.home {
	position: relative;
	&__wrapper {
		.home__hero {
			position: relative;
			aspect-ratio: 16/9;

			&__wrapper {
				@extend %cover;
				@extend %center;
				flex-direction: column;
				gap: 2rem;
				z-index: 1;

				.home__hero__content {
					&__wrapper {
						display: flex;
						.home__hero__label {
						}
					}
				}
			}

			&__logo__wrapper {
				width: min(100% - 2rem, 650px);
			}

			&__logo {
				border: 1px solid $color-white;
				width: 100%;
			}

			&__background {
				// opacity: 0;

				&__media {
					&__image {
						@extend %cover;
						object-fit: cover;
					}
				}
			}
		}
	}
}
