.indented-content {
	padding: 0 var(--layout-spacing);
	position: relative;

	&--2 {
		margin-top: 48.7rem;

		@include media("<=tablet") {
			margin-top: 18.2rem;
		}

		@include media("<=phone") {
			margin-top: 18.6rem;
		}
	}

	&--3 {
		margin-top: 49.5rem;
		margin-bottom: 19.7rem;

		@include media("<=tablet") {
			margin-top: 19.2rem;
			margin-bottom: 21.5rem;
		}

		@include media("<=phone") {
			margin-top: 18.6rem;
			margin-bottom: 17.6rem;
		}
	}

	&__label {
		font-weight: 500;
		text-transform: uppercase;
		@extend %description-20;

		&--position-left {
			position: absolute;
			top: 2.3rem;
			left: var(--layout-spacing);
			transform: translateY(25%);

			@include media("<=tablet") {
				top: 1.25rem;
			}
		}

		&--position-right {
			position: absolute;
			top: 2.3rem;
			right: var(--layout-spacing);
			transform: translateY(25%);

			@include media("<=tablet") {
				top: 1.25rem;
			}
		}

		@include media("<=tablet") {
			font-size: 1rem;
		}

		@include media("<=phone") {
			display: none;
		}
	}

	&__text {
		display: block;
		font-weight: 500;
		@extend %description-75;
		letter-spacing: -0.05px;

		&--desktop {
			@include media("<=tablet") {
				display: none;
			}
		}

		&--tablet {
			display: none;

			@include media("<=tablet", ">phone") {
				display: block;
			}
		}

		&--phone {
			display: none;

			@include media("<=phone") {
				display: block;
			}
		}

		span {
			display: block;
		}

		&--small {
			span:nth-of-type(2) {
				text-indent: 41.4rem;

				@include media("<=tablet") {
					text-indent: initial;
					text-align: end;
				}
			}
		}

		&--medium {
			span:nth-of-type(1) {
				text-align: end;
			}
		}

		&--large {
			span:nth-of-type(1) {
				text-align: end;
			}
		}

		@include media("<=tablet") {
			font-size: 3.3rem;
		}

		@include media("<=phone") {
			font-size: 2.4rem;
		}
	}

	&--fr-ca {
		.indented-content__text {
			@extend %description-68;

			@include media("<=tablet") {
				font-size: 3.4rem;
			}

			@include media("<=phone") {
				font-size: 2.2rem;
			}

			&--small {
				span:nth-of-type(2) {
					text-indent: 40.9rem;

					@include media("<=tablet") {
						text-indent: 12rem;
					}
				}
			}

			&--large {
				span:nth-of-type(1) {
					text-align: end;
				}
			}
		}
	}
}
