.product-showcase {
	position: relative;
	padding: 0 var(--layout-spacing);

	&--1 {
		// margin-bottom: 43.6rem;
		margin-top: 22.6rem;

		@include media("<=tablet") {
			margin-top: 12.5rem;
		}
	}

	&--2 {
		// margin-bottom: 44.4rem;
		margin-top: 25.9rem;

		@include media("<=tablet") {
			margin-top: 17.7rem;
		}
	}

	&--3 {
		// margin-bottom: 40.7rem;
		margin-top: 45rem;

		@include media("<=tablet") {
			margin-top: 20rem;
		}
	}
}

.product-showcase__wrapper {
	position: relative;

	&--cta-left {
		height: 54.7rem;

		@include media("<=tablet") {
			height: 26.6rem;
		}
	}

	&--cta-right {
		height: 26.5rem;
	}

	&--cta-none {
		height: 94.6rem;

		@include media("<=tablet") {
			height: 33.6rem;
		}
	}

	.product-showcase__link {
		@extend %description-27;
		font-weight: 500;

		@include media("<=tablet") {
			font-size: 1.6rem;
		}
	}
}

.product-showcase__wrapper--cta-left
	.product-showcase__item:nth-of-type(1)
	img {
	width: 41.5rem;
	height: 44.3rem;

	@include media("<=tablet") {
		width: 17.2rem;
		height: 20.1rem;
	}
}

.product-showcase__wrapper--cta-left
	.product-showcase__item:nth-of-type(2)
	img {
	width: 34rem;
	height: 34rem;

	@include media("<=tablet") {
		width: 14rem;
		height: 15.3rem;
	}
}

.product-showcase__wrapper--cta-left
	.product-showcase__item:nth-of-type(3)
	img {
	width: 49.5rem;
	height: 54.4rem;

	@include media("<=tablet") {
		width: 23.7rem;
		height: 26.2rem;
	}
}

.product-showcase__wrapper--cta-left .product-showcase__item:nth-of-type(1) {
	position: absolute;
	bottom: 0;
	left: 0;
}

.product-showcase__wrapper--cta-left .product-showcase__item:nth-of-type(2) {
	position: absolute;
	bottom: 0;
	right: calc(49.5rem + 1.7rem);

	@include media("<=tablet") {
		right: calc(23.7rem + 0.6rem);
	}
}

.product-showcase__wrapper--cta-left .product-showcase__item:nth-of-type(3) {
	position: absolute;
	bottom: 0;
	right: 0;
}

.product-showcase__wrapper--cta-left .product-showcase__link {
	position: absolute;
	bottom: -0.7rem;
	left: calc(41.5rem + 1.7rem);

	@include media("<=tablet") {
		bottom: -0.3rem;
		left: calc(17.2rem + 0.6rem);
	}
}

// CTA NONE

.product-showcase__wrapper--cta-none {
	display: flex;
	align-items: flex-end;
	gap: 1.7rem;

	@include media("<=tablet") {
		gap: 0.6rem;
	}
}

.product-showcase__wrapper--cta-none
	.product-showcase__item:nth-of-type(1)
	img {
	width: 134.8rem;
	height: 94.6rem;

	@include media("<=tablet") {
		width: 48.5rem;
		height: 33.6rem;
	}
}

.product-showcase__wrapper--cta-none
	.product-showcase__item:nth-of-type(2)
	img {
	width: 49.5rem;
	height: 30.7rem;

	@include media("<=tablet") {
		width: 23.7rem;
		height: 12.8rem;
	}
}

.product-showcase__wrapper--cta-none .product-showcase__link {
	visibility: hidden;
}

// CTA RIGHT

.product-showcase__wrapper--cta-right .product-showcase__item:nth-of-type(1) {
	position: absolute;
	left: 0;
	bottom: 0;
}

.product-showcase__wrapper--cta-right .product-showcase__item:nth-of-type(2) {
	position: absolute;
	bottom: 0;
	left: calc(41.5rem + 1.7rem);

	@include media("<=tablet") {
		left: calc(17.2rem + 0.6rem);
	}
}

.product-showcase__wrapper--cta-right .product-showcase__item:nth-of-type(3) {
	position: absolute;
	bottom: 0;
	right: 0;
}

.product-showcase__wrapper--cta-right
	.product-showcase__item:nth-of-type(1)
	img {
	width: 41.5rem;
	height: 49.5rem;

	@include media("<=tablet") {
		width: 17.2rem;
		height: 20.1rem;
	}
}

.product-showcase__wrapper--cta-right
	.product-showcase__item:nth-of-type(2)
	img {
	width: 49.5rem;
	height: 30.7rem;

	@include media("<=tablet") {
		width: 16.7rem;
		height: 12.8rem;
	}
}

.product-showcase__wrapper--cta-right
	.product-showcase__item:nth-of-type(3)
	img {
	width: 49.5rem;
	height: 54.5rem;

	@include media("<=tablet") {
		width: 23.6rem;
		height: 26.2rem;
	}
}

.product-showcase__wrapper--cta-right .product-showcase__link {
	position: absolute;
	bottom: -0.7rem;
	left: calc(49.5rem + 41.5rem + (1.7rem * 2));

	@include media("<=tablet") {
		bottom: -0.3rem;
		left: calc(16.7rem + 17.2rem + (0.6rem * 2));
	}
}
