@import "./base/reset";

@import "./vendor/vendor";
@import "./abstract/variables";
@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/animations";

@import "./shared/titles";
@import "./shared/descriptions";

@import "./base/typography";
@import "./base/base";

@import "./components/preloader";
@import "./components/cursor";
@import "./components/transition";

@import "./layout/grid";
@import "./layout/header";
@import "./layout/footer";

@import "./pages/home/home";
@import "./pages/home/article-cta";
@import "./pages/home/indented-content";
@import "./pages/home/product-showcase";
@import "./pages/home/collections";
@import "./pages/home/featured-products";
@import "./pages/404";
@import "./pages/shop";
@import "./pages/product";
@import "./pages/article";
@import "./pages/contact";

.hero-placeholder {
	margin: 0 auto;
	margin-bottom: 42.2rem;
	margin-top: 4.81rem;
	object-fit: cover;

	display: grid;
	place-items: center;

	img {
		width: auto;
		height: 59.7rem;
		object-fit: cover;

		@include media("<=tablet") {
			height: 37.5rem;
		}

		@include media("<=phone") {
			height: 18.7rem;
		}
	}
}

[data-state="disabled"] {
	cursor: not-allowed;
}

// [data-animation="fade-in"] {
// 	visibility: hidden;
// }
