@import "./base/reset";

@import "./vendor/vendor";
@import "./abstract/variables";
@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/animations";

@import "./shared/titles";
@import "./shared/descriptions";

@import "./base/typography";
@import "./base/base";

@import "./components/preloader";

@import "./layout/grid";
@import "./layout/header";
@import "./layout/footer";

@import "./pages/home/home";
@import "./pages/home/gallery";
@import "./pages/home/highlight";
@import "./pages/home/content";
@import "./pages/home/article-cta";
@import "./pages/home/product-grid";
@import "./pages/home/indented-content";
@import "./pages/home/product-showcase";
@import "./pages/home/collections";
@import "./pages/lookbook/lookbook";
@import "./pages/404";
@import "./pages/shop/shop";
@import "./pages/product/product";
@import "./pages/contact/contact";

.hero-placeholder {
	margin: 0 auto;
	width: 186rem;
	height: 108rem;
	background-color: #d9d9d9;
	margin-bottom: 9.6rem;

	@include media("<=tablet") {
		width: 72.8rem;
		height: 58.7rem;
		margin-bottom: 5rem;
	}
}
