@import "./base/reset";

@import "./vendor/vendor";
@import "./abstract/variables";
@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/animations";

@import "./shared/titles";
@import "./shared/descriptions";

@import "./base/typography";
@import "./base/base";

@import "./components/preloader";

@import "./layout/grid";
@import "./layout/header";
@import "./layout/footer";

@import "./pages/home/home";
@import "./pages/home/article-cta";
@import "./pages/home/indented-content";
@import "./pages/home/product-showcase";
@import "./pages/home/collections";
@import "./pages/lookbook/lookbook";
@import "./pages/404";
@import "./pages/shop/shop";
@import "./pages/product/product";
@import "./pages/contact/contact";

.hero-placeholder {
	margin: 0 auto;
	width: 42.3rem;
	height: 59.7rem;
	background-color: #d9d9d9;
	margin-bottom: 42.2rem;
	margin-top: 4.81rem;

	@include media("<=tablet") {
		width: 22rem;
		height: 37.5rem;
		margin-top: 12.8rem;
		margin-bottom: 16.5rem;
	}

	@include media("<=phone") {
		width: 10.9rem;
		height: 18.7rem;
		margin-top: 6.6rem;
		margin-bottom: 13.9rem;
	}
}
